:root {
    --bg-dark: #0a0a22;
    --white: white;
    --orange: #ff9a56;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Tajawal', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black;
}

.app {
    margin: 0px;
    padding: 0em 3em 3em 3em;
    box-sizing: border-box;
    background-image: url(https://img.freepik.com/premium-photo/businessman-working-laptop-computer-closeupgenerative-ai_76964-19376.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

img {
    width: 100%;
}


.orange-title {
    margin-bottom: 1em;
    color: var(--orange);
    font-size: 2rem;
    text-align: center;
    font-weight: 800;
}

.sub-title {
    font-size: 1.1rem;
    margin-bottom: 1rem;
    font-weight: 700;
    color: var(--white);
    width: 500px;
    margin: 0 auto;
    text-align: center;
}


nav ul {
    display: flex;
    width: 100%;
    list-style: none;
    justify-content: space-between;
    color: var(--white);
    font-weight: 700;
    align-items: center;
}

nav ul li {
    padding: 0px 5px;
}

nav ul li a {
    color: white;
}

nav ul li img {
    width: 100px;
}

.main {
    height: 800px;
    position: relative;
}

.adress {
    font-weight: 700;
    color: var(--white);
    font-size: 2.5rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1.5;
}

.line-details-con {
    width: calc(100% - 6em);
    position: absolute;
    bottom: 8%;
}

.line {
    width: 100%;
    height: 3px;
    background-color: var(--orange);
    margin-bottom: 3rem;
}

.details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.details div {
    display: flex;
    align-items: center;
}

.point {
    width: 40px;
    height: 40px;
    position: relative;
    background-color: darkslateblue;
    border-radius: 50px;
    margin-left: 8px;
}

.point span {
    position: absolute;
    color: var(--white);
    font-size: 1.1rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-weight: 700;
}


.details p {
    color: var(--white);
    font-size: 1.1rem;
    font-weight: 700;
}










.bank {
    padding: 4rem 6rem;
    background-image: url("./images/bg_library.jpeg");
    font-weight: 700;
    color: var(--white);
    position: relative;
    overflow-y: hidden;
}

.bank-elmarefa {
    text-align: center;
}


.bank-elmarefa p {
    font-size: 1.3rem;
}

.perant-pragraph {
    width: 300px;
    text-align: justify;
}

.frist-pragraph {
    margin-bottom: 2rem;
}

.bank .hero {
    width: 500px;
    position: absolute;
    bottom: -100px;
    left: 0%;
}







.services {
    background-image: url("./images/search.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5em;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: var(--white);
}

.title {
    text-align: center;
}

.title h2 {
    font-size: 2.3rem;
    margin-bottom: 1rem;
    font-weight: 800;
}

.search-engine p {
    width: 300px;
    font-size: 1rem;
    text-align: justify;
    font-weight: 500;
}



.hiw {
    background-color: var(--bg-dark);
    background-image: url("./images/frame.png");
    background-size: 10% 100%;
    background-repeat: no-repeat;
    color: white;
    padding: 3rem 3rem 3rem 8rem;
}

.hiw .items {
    display: flex;
    justify-content: space-between;
}

.hiw .items .item {
    width: 22%;
}

.hiw .items .orange-title,
.hiw .items .sub-title {
    width: 100%;
    text-align: right;
}

.hiw .items .orange-title {
    margin: 1.5rem 0rem;
    font-size: 1.6rem;
    font-weight: 700;
}

.hiw .items .icon {
    width: 150px;
    height: 150px;
    background-color: var(--orange);
    padding: 2rem;
    border-radius: 50%;
    display: flex;
    margin: 0 auto;
}

.hiw .items .icon svg {
    fill: var(--white);
}

















.htu {
    background-color: var(--bg-dark);
    background-image: url("./images/frame.png");
    background-size: 10% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
    color: white;
    padding: 4rem 1rem 0rem;
}

.htu .content {
    display: flex;
    justify-content: space-between;
}

.htu .content .left,
.htu .content .right {
    width: 45%;
    position: relative;
    overflow: hidden;
}

.htu .content .bg {
    width: 250px;
    position: absolute;
    top: 10px;
    right: -40px;
    transform: rotateY(180deg);
}

.htu .content .data {
    width: 330px;
    margin-right: auto;
}

.htu .content .sub-title {
    width: 330px;
    text-align: justify;
    margin: 1.5rem 0rem;
}









.sub {
    padding: 15rem;
    text-align: center;
    background-image: url("./images/library.jpeg");
    background-size: cover;
}

.sub .orange-title {
    color: white;
}

.sub button {
    font-weight: 600;
    font-size: 1.1rem;
}