.app {
    margin: 0px;
    background-color: var(--bg-dark);
    background-image: url("../images/frame.png");
    background-repeat: repeat-y;
    background-size: 200px;
}

.app nav {
    position: fixed;
    width: 100%;
    right: 0px;
    z-index: 999;
}

.main {
    position: relative;
    align-items: center;
    padding: 0 3rem;
    justify-content: space-between;
    padding-top: 10rem;
    width: 75%;
}

.main .orange-title,
.main .sub-title {
    width: 100%;
}

.main .search {
    width: 70%;
}

.main .search input {
    border-radius: 30px;
}

.main .questions {
    color: white;
}

.main .questions .orange-title,
.main .questions .sub-title {
    text-align: justify;
}